
@if (stays.length > 0) {
<h2 style="margin: 10px">Last Reservations</h2>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Room Type</th>
      <th>Room Number</th>
      <th>Arrival</th>
      <th>Departure</th>
      <th>Notes</th>
      <th>Favorite</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stay of stays; trackBy: trackByFunction">
      <td>{{ stay.customerId }}</td>
      <td>{{ stay.roomType }}</td>
      <td>{{ stay.room }}</td>
      <td>{{ stay.dateArrival | date }}</td>
      <td>{{ stay.dateDeparture | date }}</td>
      <td>{{ stay.notes }}</td>

      <td>
        <app-favorite
          [item]="stay"
          (addNote)="addNoteToStay($event)"
        ></app-favorite>
      </td>
    </tr>
  </tbody>
</table>
} @else {
<h2 style="margin-left: 15px; margin-top: 15px">Reservations</h2>
<h6 style="margin-left: 15px; margin-bottom: 35px">
  There are no reservations.
</h6>
} @if (showNotesSection) {
<div>
  <h2>Notes</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stay of stays; trackBy: trackByFunction">
        <td>{{ stay.customerId }}</td>
        <td>{{ getNoteText(stay) }}</td>
      </tr>
    </tbody>
  </table>
</div>
}

<hr />

<app-todays-checkout></app-todays-checkout>
